.ptag{
    font-size: 30px;
    border: solid 5px black;
    background-color: orange;
    color: black;
}
.team-members{
    font-size: 30px;
    border: solid 5px rgb(0, 0, 0);
    background-color: white;
position: relative;
margin-top: 20px;
}
.picture{
    position: relative;
   float: right;
   bottom: 660px;
   left: -12px;
}
h1{
    font-size: 60px;
    position: fixed;
    background-color: white ;
    z-index: 100;
    left: 0px;
    top: -40px;
    padding-left: 220px;
    padding-right: 201px;
}
.team{
    position: relative;
    left: 300px;
}
body{
    background-color: maroon;
}
h2{
    font-size: 60px;
    position :relative;
    left: 300px;
    color: white;
}
.trackandfield{
    font-size: 60px;
    position: fixed;
    background-color: white ;
    z-index: 100;
    left: 0px;
    top: -40px;
    padding-left: 220px;
}
.picture-volleyball{
    position: relative;
    float: right;
    bottom: 450px;
    left: -150px;
}
.picture-basketball{
    position: relative;
    float: right;
    bottom: 700px;
    left: -12px;
}
.picture-track{
    position: relative;
    float: right;
    bottom: 660px;
    left: -150px;
}