h1 {
    text-align: center;
    font-size: 70px;
    position: fixed;
    margin-top: -400px;
    margin-left: 200px;
    z-index: 100;
}

.man-sports {
    font-size: 20px;
    position: relative;
    border: solid 5px black;;
}

.lpi {
    position: relative;
    margin-top: 90px;
    margin-left: 550px;
}

.logo {
    margin-left: 485px;
    margin-top: -287px;
    z-index: -100;
}

.logo-img {
    width: 350px;
}
.woman-sports {
    font-size: 20px;
    position: relative;
    float: right;
    bottom:400px;
    right:0px; ;

}