h1 {
    text-align: center;
    font-size: 70px;
    position: fixed;
    margin-top: -405px;
    margin-left: -9px;
    margin-right: -172px;
    z-index: 100;
    background-color: maroon;
    padding-left: 200px;
    padding-right: 350px;
}

.man-sports {
    font-size: 20px;
    position: relative;
    border: solid 5px black;
    background-color: white;
}

.lpi {
    position: relative;
    margin-top: 90px;
    margin-left: 550px;
}

.logo {
    margin-left: 485px;
    margin-top: -287px;
    z-index: -100;
}

.logo-img {
    width: 350px;
}
.woman-sports {
    font-size: 20px;
    position: relative;
    float: right;
    bottom:400px;
    right:10px; ;

}
body{
    background-color: rgb(211, 179, 138);
}